{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}کارمپ{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'pages/lib/bootstrap/css/bootstrap.min.css' %}">

    <script src="{% static 'pages/lib/jquery/js/jquery-3.4.1.slim.min.js' %}"></script>
    <script src="{% static 'pages/lib/popper/popper.min.js' %}"></script>

    <style> </style>

    {% block extra_head %}
    {% endblock %}
</head>
<body {% block body_id %}{% endblock %} {% block body_class %}{% endblock %} dir="rtl">
    {% block extrabody %}
    {% endblock %}
    {% block body %}
        <div id="header">
            {% block header %}
                {% include "pages/base/header.html" %}
            {% endblock %}
        </div>
        <div id="content">
            {% block content %}
                {% include "pages/base/content.html" %}
            {% endblock %}
        </div>
        <div id="footer">
            {% block footer %}
                {% include "pages/base/footer.html" %}
            {% endblock %}
        </div>
    {% endblock %}
</body>
</html>