{% extends "pages/base/base.html" %}

{% block content %}
{{ block.super }}

<!-- Default form login -->
<form class="text-center center border border-light p-5" action="#!">

    <p class="h4 mb-4">ورود کاربر</p>

    <!-- Email -->
    <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="نام کاربری">

    <!-- Password -->
    <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="رمز عبور">

    <div class="d-flex justify-content-around">
        <div>
            <!-- Remember me -->
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                <label class="custom-control-label" for="defaultLoginFormRemember">رمز را بخاطر بسپار</label>
            </div>
        </div>
        <div>
            <!-- Forgot password -->
            <a href="">رمز عبور خود را فراموش کرده اید؟</a>
        </div>
    </div>

    <!-- Sign in button -->
    <button class="btn btn-info btn-block my-4" type="submit">ورود</button>

    <!-- Register -->
    <p>عضو کارمپ نیستید؟
        <a href="">عضو میشوم</a>
    </p>

    <!-- Social login -->
    <p>با استفاده از حساب  شبکه های اجتماعی وارد شوید</p>

    <a href="#" class="mx-2" role="button"><i class="fab fa-facebook-f light-blue-text"></i></a>
    <a href="#" class="mx-2" role="button"><i class="fab fa-twitter light-blue-text"></i></a>
    <a href="#" class="mx-2" role="button"><i class="fab fa-linkedin-in light-blue-text"></i></a>
    <a href="#" class="mx-2" role="button"><i class="fab fa-github light-blue-text"></i></a>

</form>
<!-- Default form login -->

{% endblock %}