<div id="carousel-example-multi" class="carousel slide carousel-multi-item job-group" data-ride="carousel">
    <!--Controls-->
    <div class="controls-top">
      <a class="btn-floating" href="#carousel-example-multi" data-slide="prev"><i
          class="fas fa-chevron-left"></i></a>
      <a class="btn-floating" href="#carousel-example-multi" data-slide="next"><i
          class="fas fa-chevron-right"></i></a>
    </div>
    <!--/.Controls-->  
    <!-- Indicators -->
    <ol class="carousel-indicators">
      {% for job_group in latest_job_group %}
        {% if forloop.first %}
          <li data-target="#carousel-example-multi" data-slide-to="{{ forloop.counter }}" class="active"></li>
        {% else %}
        <li data-target="#carousel-example-multi" data-slide-to="{{ forloop.counter }}"></li>
        {% endif %}
      {% endfor %}
    </ol>
    <!--/.Indicators-->  
    <div class="carousel-inner v-2" role="listbox">
      {% for job_group in latest_job_group %}
      {% if forloop.first %}
      <div class="carousel-item active">
        <div class="col-12 col-md-4">
          <div class="card mb-2">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/img (36).jpg"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title font-weight-bold">{{ job_group }}</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <a class="btn btn-primary btn-md btn-rounded">Button</a>
            </div>
          </div>
        </div>
      </div>
      {% else %}
      <div class="carousel-item">
        <div class="col-12 col-md-4">
          <div class="card mb-2">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/img (34).jpg"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title font-weight-bold">{{ job_group }}</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <a class="btn btn-primary btn-md btn-rounded">Button</a>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>


</ul>
{% for job_group in latest_job_group %}
    <li>{{ job_group.title}}</li>
{% endfor %}
</ul>

</ul>
{% for job_order in latest_job_order %}
    <li>{{ forloop.counter}}</li>
{% endfor %}
</ul>