<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-2">
      <button type="button" class="btn">عقب</button>
    </div>
    <div class="col-8">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          {% for job_group in latest_job_group %}
          <div class="swiper-slide btn btn-info"> {{ job_group }} </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col-2">
      <button type="button" class="btn">جلو</button>
    </div>      
  </div>
</div>