<br>
<br>
<div class="container">
  <div class="row">
    <!-- Swiper -->
    <div class="swiper-container">
      <div class="swiper-wrapper">
        {% for job_group in latest_job_group %}
        <!-- <div class="swiper-slide">{{ job_group }}</div> -->
        <div class="btn btn-info">{{ job_group }}</div>

        {% endfor %}
      </div>
      <!-- Add Pagination -->
      <!-- <div class="swiper-pagination"></div> -->
      <!-- Add Arrows -->
      <!-- <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div> -->
    </div>
  </div>
</div>