<!--Main layout-->
<main class="mt-5">
    <!--Main container home page-->
    <div class="container">

        <!--carousel section -->
        <div class="row">
            {% include "carousel.html" %}
        </div>
        <!--carousel section-->

        <!--search form and map section-->
        <div class="row">
            <!--search form section-->
            <div class="col-md-4"> </div>
            <!--search form section-->
            <!--Map section-->
            <div class="col-md-8"> </div>
            <!--Map section-->
        </div>
        <!--search form and map section-->

        <!--Last jobs orders-->
        <div class="row">
            <div class="col-md-6"> </div>
            <div class="col-md-6"> </div>
        </div>
        <!--Last jobs orders-->

    </div>
    <!--Main container home page-->
</main>
<!--Main layout-->