{% extends 'base.html' %}
{% load static %}

{% block title %}خانه{% endblock title %}

{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'pages/lib/swiper/css/swiper.min.css' %}">
{% endblock %}


{% block content %}    
    {% include "carousel.html" %}
    {% include "job_order_list.html" %}
{% endblock content %}


{% block exterascriptend %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'pages/lib/swiper/js/swiper.min.js' %}"></script>         
    {% include "carousel_script.html" %}
    
{% endblock exterascriptend %}



