{% extends 'base.html' %}
{% load static %}

{% block title %}خانه{% endblock title %}

{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'pages/lib/swiper/css/swiper.min.css' %}">
    <link rel="stylesheet" href="{% static 'pages/lib/leaflet/leaflet.css' %}">
{% endblock %}


{% block content %}   
    {% include "carousel.html" %}    
    {% include "search_and_map_panel.html" %}
    {% include "order_for_employee_employer_home.html" %}    
{% endblock content %}


{% block exterascriptend %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'pages/lib/swiper/js/swiper.min.js' %}"></script>         
    <script type="text/javascript" src="{% static 'pages/lib/leaflet/leaflet.js' %}"></script>         
    {% include "carousel_script.html" %}
    {% include "map_section_script.html" %}
    
{% endblock exterascriptend %}



