<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-8">

            <!-- Material form contact -->
            <div class="card">

                <h5 class="card-header info-color white-text text-center py-2">
                    <strong>جست و جو</strong>
                </h5>

                <!--Card content-->
                <div class="card-body px-lg-5 pt-0" id="map_id" style="height: 420px;">


                </div>

            </div>
            <!-- Material form contact -->
        </div>
        <div class="col">
            {% include "search_panel.html" %}
        </div>
    </div>
</div>