<script>
    // Material Select Initialization
    $(document).ready(function () {
        $('.mdb-select').materialSelect();

        var url = 'http://localhost:8000/api/job/'
        var searched_feature;
        $('#btn_search_submit').click(function(){
            $.get(url, function(data){
                displayGeoData(data);                
            })
        });

        function displayGeoData(jobs) {
            // if layer added removed befor add new search
            if (searched_feature){
                map.removeLayer(searched_feature);                
            } 

            

            searched_feature = L.geoJSON(jobs).bindPopup(function (layer){
                return layer.feature.properties.title;
            });
            map.fitBounds(searched_feature.getBounds());
            map.addLayer(searched_feature);



           
            
        }
    
    });
</script>