<!-- Material form contact -->
<div class="card">

    <h5 class="card-header info-color white-text text-center py-2">
        <strong>جست و جوی پیشرفته</strong>
    </h5>

    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">

        
        <!-- Search form -->
        <div class="form">

            <!-- Material input -->
            <div class="md-form">
                <input type="text" id="form1" class="form-control">
                <label for="form1">کلید واژه جست و جو (مثلا: کارگر)</label>
            </div>            

            <select id="selected_group" class="mdb-select md-form" searchable="جست و جو..">
                <option value="" disabled selected>گروه شغلی</option>
                <option value="1">مکانیکی</option>
                <option value="2">برنامه نویسی</option>
                <option value="3">سرایدار</option>
                <option value="4">نگهبان</option>
                <option value="5">نقاش</option>
            </select>
            <select id="selected_user_type" class="mdb-select md-form">               
                <option value="1"> کارجو هستم</option>
                <option value="2">کارفرما هستم</option>
            </select>
            <select class="mdb-select md-form" searchable="جست و جو..">
                <option value="" disabled selected>انتخاب شهر</option>
                <option value="1">تهران</option>
                <option value="2">مشهد</option>
                <option value="3">کرمانشاه</option>
                <option value="3">یاسوج</option>
                <option value="3">شیراز</option>
            </select>
            <select class="mdb-select md-form" >
                <option value="" disabled selected>بیشترین فاصله از من</option>
                <option value="1">یک کیلومتر</option>
                <option value="2">2 کیلومتر</option>
                <option value="3">5</option>
                <option value="3">10 کیلیومتر</option>
                <option value="3">بیشتر از 10 کیلومتر</option>
            </select>
            
            <button class="btn btn-info" id="btn_search_submit">جست و جو</button>
        </div>
        <!-- Form -->

    </div>

</div>
<!-- Material form contact -->